
.containerLogin {
  align-items: center;  /* centra verticalmente */
}
.containerLogin img {
  width: 22.7%;
  height: auto;
  margin-top: 5px; /* aumenta el espacio arriba */
}
.containerLogin div {
 padding: 0.09%;
}
