
.containerRegistro {
  display: flex;
  align-items: center;  /* centra verticalmente */
  padding: 0.24% 15%;
}
.containerRegistro img {
  width: 110%;
  height: auto;
  flex: 1;
}
.containerRegistro div {
  flex: 1;
  padding: 1%;
  justify-content: right
}
