
.containerRegistro {
display: flex;
padding: 3.35% 15%;
}
.containerRegistro img {
  min-height: 50vh; /* altura mínima para mantener la proporción */
}
.containerRegistro div {
  flex: 1;
  text-align: center;
  padding: 1%;
}

