.containerSalidas {
  display: flex;
  align-items: center;  /* centra verticalmente */
  padding: 2.85% 2%;
}
.containerSalidas img {
  flex: 1;
  width: 110%;
  height: auto;
  border-radius: 40px;
}
.containerSalidas div {
  flex: 1;
  padding: 1%;
  justify-content: right
}
.salidas-container{
  flex: 1;
}
.card-salidas{
  background: rgba(255, 255, 255, 0.856);
  margin: 5px 0;
  border-radius: 40px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.btn-editar{
  background: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.btn-eliminar{
  background: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}